<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Wooder</title>
</head>
<body>
  <header class="header">
    <div class="topbar">
        <div class="menu">
          <div class="menu__bars-container">
            <span class="menu__bar">&nbsp;</span>
            <span class="menu__bar">&nbsp;</span>
            <span class="menu__bar">&nbsp;</span>
          </div>
          menu
        </div>
    
        <nav class="navigation">
          <h3 class="logo">Wooder</h3>

          <ul class="navigation__list">
            <li class="navigation__item">
              <a href="#" class="navigation__link">Home</a>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__link">Products</a>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__link">About</a>
            </li>
          </ul>
        </nav>
    
        <div class="info-box">
          <a href="#" class="info-box__icon"><span class="icon-basic-info"></span></a>
          <a href="#" class="info-box__language">EN</a>
        </div>
    </div>
    
    <div class="background-container">
      <div class="background-container__left">&nbsp;</div>
      <div class="background-container__right">&nbsp;</div>
    </div>

   <div class="header__text-box">
     <h1 class="header__title">Wooder</h1>
     <button class="btn-inline">Learn more <span class="right-arrow"></span></button>

     <div class="header__pointer">
      <span class="icon-basic-magic-mouse"></span>
      <span class="down-arrow"></span>
      <p class="vertical-text">Scroll</p>
     </div>
   </div> 

   <p class="vertical-text-right">Furniture & Decor</p>

   <div class="vertical-numbers">
     <p class="vertical-numbers__numbers">01</p>
     <span></span>
     <span></span>
     <span></span>
     <span></span>
   </div>

   <span class="header__share icon-basic-share"></span>

   <span class="header__vertical-line"></span>

  </header>

  <main>
        
    <section class="furniture">

      <div class="description-box description-box-left">
        <div class="description-box__wrap">
            <span class="furniture__letter">F</span>
            <h3 class="title">
              <span class="title__line-left"></span>
              Furniture
            </h3>
            <p class="description">
                <span class="description__line-left"></span>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore veritatis voluptatibus earum eum perferendis quas ab accusantium fuga illo at. Ipsa dicta neque perferendis, laborum ipsam fuga quibusdam sequi possimus?
            </p>
            <button class="btn">Learn more <span class="right-arrow"></span></button>
            <span class="number number-left">
              01
            </span>
        </div> 
      </div>

      <figure class="picture-box">
        <img src="./assets/img/furniture-pic-1.png" alt="furniture" class="picture-box__picture picture-box__picture-right">
        <figcaption class="furniture__word">Furniture</figcaption>
      </figure>
      
    </section>

    <section class="decor">

      <figure class="picture-box">
        <img src="./assets/img/decor.png" alt="decor" class="picture-box__picture picture-box__picture-left">
        <figcaption class="decor__word">Decor</figcaption>
      </figure>

      <div class="description-box description-box-right right">
        <div class="description-box__wrap">
          <span class="decor__letter">D</span>
          <h3 class="title">
            <span class="title__line-right"></span>
            Decor
          </h3>
          <p class="description">
              <span class="description__line-right"></span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore veritatis voluptatibus earum eum perferendis quas ab accusantium fuga illo at. Ipsa dicta neque perferendis, laborum ipsam fuga quibusdam sequi possimus?
          </p>
          <button class="btn">Learn more <span class="right-arrow"></span></button>
          <span class="number number-right">
            02
          </span>
        </div> 
      </div>
      
    </section>

    <section class="quality">
      <h3 class="title center">Wooder - is quality</h3>

      <div class="quality__text-container">
        <p class="description center">
          <span class="description__line-top"></span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore veritatis voluptatibus earum eum perferendis quas ab accusantium fuga illo at. Ipsa dicta neque perferendis, laborum ipsam fuga quibusdam sequi possimus?
        </p>
      </div> 
      
      <div class="quality__video-container">
        <div class="quality__video-image">
          
          <div class="quality__video-wrap">
            <img src="./assets/img/video-img-1.png" alt="img-1">
            <span class="quality__video-button">
                <svg class="quality__play-icon">
                  <use xlink:href="./assets/img/symbol-defs.svg#icon-play3"/>
                </svg>
            </span>
          </div>
          
          <span class="quality__video-name">Innovative Design</span>
        </div>
        <div class="quality__video-image">

          <div class="quality__video-wrap">
            <img src="./assets/img/video-img-2.png" alt="img-2">
            <span class="quality__video-button">
              <svg class="quality__play-icon">
                <use xlink:href="./assets/img/symbol-defs.svg#icon-play3"/>
              </svg>
            </span>
          </div>

          <span class="quality__video-name">Hight-level Skills</span>
        </div>
        <div class="quality__video-image">
          
          <div class="quality__video-wrap">
            <img src="./assets/img/video-img-3.png" alt="img-3">
            <span class="quality__video-button">
              <svg class="quality__play-icon">
                <use xlink:href="./assets/img/symbol-defs.svg#icon-play3"/>
              </svg>
            </span>
          </div>

          <span class="quality__video-name">Quality Products</span>
        </div>
      </div>
      
    </section>

    <section class="design">

      <div class="design__box">
        <div class="design__wrap">
          <h3 class="title title-wood">
            <span class="title__line-left title__line-left-white"></span>
            We do the design of any complexity
          </h3>
          <p class="description description-white">
            <span class="description__line-left"></span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore veritatis voluptatibus earum eum perferendis quas ab accusantium fuga illo at. Ipsa dicta neque perferendis, laborum ipsam fuga quibusdam sequi possimus?
          </p>
          <button class="btn-inline design__btn">
            <svg class="design__play-icon">
              <use xlink:href="./assets/img/symbol-defs.svg#icon-play2"/>
            </svg>
            Watch video
          </button>
        </div>   
      </div>

      <span class="vertical-line vertical-line-white"></span>

      <span class="design__letter">W</span>

      <img src="./assets/img/play-big.png" alt="img" class="design__image">
    </section>

    <section class="about">

      <figure class="picture-box">
        <img src="./assets/img/about.png" alt="decor" class="picture-box__picture picture-box__picture-left">
        <figcaption class="about__word">About</figcaption>
      </figure>

      <div class="description-box description-box-right">
        <div class="description-box__wrap">
            <span class="about__letter">A</span>
            <h3 class="title">
              <span class="title__line-left"></span>
              about
            </h3>
            <p class="description">
                <span class="description__line-left"></span>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore veritatis voluptatibus earum eum perferendis quas ab accusantium fuga illo at. Ipsa dicta neque perferendis, laborum ipsam fuga quibusdam sequi possimus?
            </p>
            <button class="btn">Learn more <span class="right-arrow"></span></button>
        </div> 
      </div>

    </section>

    <footer class="footer">
      <span class="copyright">&copy; 2018 Wooder</span>
      <h3 class="logo">Wooder</h3>
      <span class="designed"><span class="darker">Designed</span> by Vacheslav Olianishyn</span>
      <span class="designed"><span class="darker">Developed</span> by Oleg Veskelen</span>
    </footer>
  </main>
  
</body>
</html>
