.btn{
    &:visited,
    &:link{
        text-decoration: none;
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        letter-spacing: .5rem;
        font-size: 1.6rem;
        font-family: 'proximaB';
        position: relative;
        transition: all .3s;
        padding: .3rem;
        cursor: pointer;
        color: $color-font-primary;
        display: inline-block;
    }
    

    &:focus{
        outline: none;
    }
    &:active{
        transform: translateY(2px);
    }
    &:hover{
        transform: translateY(-.5rem);
        box-shadow: 0rem 1rem 3rem .3rem rgba($color-font-primary, .1);
    }

    &::before{
        position: absolute;
        content: '';
        width: 5rem;
        height: 2px;
        background-color: $color-wood;
        left: 0;
        bottom: -5px;
    }
}