.description-box{
    flex:1;
    display: flex;
    align-items: center;
    position: relative;

    &__wrap{
        max-width: 35rem;
        margin-right: 1rem;
        position: relative;

        @include respond(phone){
            max-width: 100%;
            margin: 0 auto;
            padding: 5rem;
        }
    }

    &-left{
        justify-content: flex-end;
    }

    &-right{
        justify-content: flex-start;
    }
}