.furniture{
    display: flex;
    justify-content: center;
    margin-top: 15rem;
    position: relative;
    padding-bottom: 10rem;
    
    &__text{
        flex:1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }

    &__letter{
        position: absolute;
        color: rgba(190, 166, 124, 0.1);
        font-size: 40rem;
        font-family: 'proximaB';
        top: -60rem;
        left: -28rem;
    }

    &__word{
        position: absolute;
        color: rgba(190, 166, 124, 0.1);
        font-size: 20rem;
        font-family: 'proximaB';
        top: 50%;
        transform: translateY(-50%);
        left: 30%;
        text-transform: uppercase;
    }

    &__wrap{
        max-width: 35rem;
        margin-right: 1rem;
        position: relative;
    }

    &__picture-container{
        flex: 1;
        overflow: hidden;
        position: relative;
        padding: 2rem;

    }

    &__picture{
        position: relative;
        height: 45rem;
        max-width: 65rem;
        background-image: url('../img/furniture-pic-1.png');
        background-position-x: right;
        background-repeat: no-repeat;
        background-position-y: top;
        background-size: cover;
        box-shadow: 0rem 0rem 2rem 1px rgba(0, 0, 0, 0.2);
    }

}

.furniture__container{
    position: relative;
}