.navigation{
    display: flex;
    align-items: center;

    @include respond(phone){
        visibility: hidden;
        margin-top: 9rem;
    }

    &__list{
        list-style: none;
        display: flex;

        @include respond(phone){
            display: none;
        }
    }

    &__item{
        padding: 3rem 7rem;

        @include respond(tab-land){
            padding: 3rem 5rem;
        }
        
        @include respond(tab-port){
            padding: 3rem 5rem;
        }
    }

    &__link, 
    &__link:link, 
    &__link:visited {
        text-decoration: none;
        font-size: 2rem;
        text-transform: uppercase;
        font-family: 'proximaB';
        color: $color-grey-1;
        transition: all .2s;

        &:hover{
            color: $color-wood;
        }
    }
}