.furniture{
    @include section-styles;
    

    &__letter{
        @include transparent-letter;
        top: -60rem;
        left: -28rem;

        @include respond(tab-land){
            left: 0;
        }

        @include respond(tab-port){
            left: 0;
        }
    }

    &__word{
        @include transparent-word;
        left: 30%;
    }

}

.decor{
    @include section-styles;

    &__letter{
        @include transparent-letter;
        top: -49.5rem;
        right: -26rem;

        @include respond(tab-land){
            right: 0;
        }

        @include respond(tab-port){
            right: 0;
        }
    }

    &__word{
        @include transparent-word;
        left: 0;
    }
}

.about{
    @include section-styles;

    &__letter{
        @include transparent-letter;
        top: -49.5rem;
        right: -26rem;

        @include respond(tab-land){
            right: 0;
        }
        
        @include respond(tab-port){
            right: 0;
        }
    }

    &__word{
        @include transparent-word;
        left: 0;
    }

    .description-box__wrap{
        margin-left: 10rem;

        @include respond(phone){
            margin-left: 0;
        }
    }
}

